<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-raised-button style="height:100%;margin-top:0px"> <img style="width:85px; height:auto; background: #fff" src="assets/image/logo.png"/></button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">settings</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1" style="background-color: #d9d9d9">
        <button mat-button style="background-color:#3f51b5;color:#fff;border-radius:12px">Run</button>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="130px" >
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <div class="dragbox vertical" appSortableList (sort)="sort($event)"> 
      <mat-card *ngFor="let box of availableBoxes" class="box" appDroppable (dragStart)="currentBox = box"> {{ box }}
         <div class="box box-helper" *appDraggableHelper> {{ box }}</div>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="4">       
    <div class="dropzone dotted" appDropzone (drop)="move(currentBox, dropzone1)" (remove)="move(currentBox, availableBoxes)">
      <div *ngFor="let box of dropzone1" class="box1"  appDroppable (dragStart)="currentBox = box" >
        <span> {{ box }}</span>
         <div class="box box-helper" *appDraggableHelper> {{ box }}</div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!--<section>
<h1>Draggable</h1>
<h2>draggable directive</h2>

<div class="box" appDraggable>Draggable</div>
<!--<div class="box" appDraggableRx (dragStart)="onDragStart()" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd()">My box</div>-->

<!--<h2>movable directive</h2>

<div class="box" appMovable>Movable 1</div>
<div class="box" appMovable [appMovableReset] = "true">Movable 2</div>

<h2>movable area</h2>

<div class="area" appMovableArea>
  <div class="box" appMovable *ngFor="let trapped of trappedBoxes">{{ trapped }}</div>
</div>
<button (click)="add()">Add</button>

<h2>The draggable helper</h2>
<div style="overflow: hidden">
  <div class="box" appDraggable> Drag me!
    <div class="box helper" *appDraggableHelper> Helper 1</div>
</div>
</div>
</section>

<section>
  <h2>the sortable list</h2>
  <h3>Vertical</h3>
  <ul appSortableList (sort)="sort($event)">
    <li *ngFor="let box of sortableList" class="box" appSortable>{{ box }}
   <div class="box" *appDraggableHelper>{{ box }}</div>
  </li>
  </ul>
  <h3>Horizontal</h3>
  <ul class="horizontal" appSortableList (sort)="sort($event)">
    <li *ngFor="let box of sortableList" class="box" appSortable>{{ box }}
   <div class="box box-helper" *appDraggableHelper>{{ box }}</div>
  </li>
  </ul>
</section>
-->
<section>
  <!--<div class="dropzone" appDropzone (drop)="move(currentBox, dropzone2)" (remove)="move(currentBox, availableBoxes)">
      <div *ngFor="let box of dropzone2" class="box"  appDroppable (dragStart)="currentBox = box" >
         {{ box }}
         <div class="box box-helper" *appDraggableHelper> {{ box }}</div>
      </div>
  </div>-->
</section>


 